body {
	color:$secondary-text;
	font-family:$sans;
	font-size:1rem;
	font-weight:300;
	@include breakpoint(phablet) {
		font-size:1.2rem;
	}
	@include breakpoint(tablet) {
		font-size:1.3rem;
	}
}
h1 {
	color: $primary-text;
}

h1, h2, h3, h4, h5 {
	color: $primary-text;
	font-family:$sans;
	font-weight:100;
	text-align:left;
	//text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

a {
	text-decoration: none;
	color:$accent;
	position:relative;
	&:after {
		content: "";
		height:1px;
		background: $accent;
		width:0;
		position:absolute;
		bottom:0;
		left:0;
		transition: width 0.2s ease-out;
	}
}

a:hover:after {
	width:100%;
}

a.hide-underscore:after{
	content:none;
}

::selection {
		background: $accent !important;
		color:$grey;
	}