@import url(http://fonts.googleapis.com/css?family=Pompiere|Roboto:400italic,700italic,100,300,700,300italic,400|Source+Code+Pro);
@import '../bower_components/normalize.css/normalize.css';
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

$sans: 'Roboto', sans-serif;
$serif: 'Pompiere', serif;
$mono: 'Source Code Pro', monospace;

$primary: #512DA8;
$dark-primary: #455A64;
$light-primary: #CFD8DC;
$accent: #FFEB3B;
$grey: #262626;

$primary-text: #ffffff;
$secondary-text: rgba(255,255,255,0.7);
$disabled-text: rgba(255,255,255,0.3);
$divider-color: rgba(255,255,255,0.12);

@import 'mixins';
@import 'typography';
@import 'layout';
@import 'components';
@import 'nav';

